body {
	background-color: rgba(42, 42, 46, 1);
	text-align: center;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#board {
	position: relative;
	background-color: #111;
	width: max-content;
	height: auto;
	margin: auto;
	border: 5px solid whitesmoke;
}
