@font-face {
  font-family: 'Visitor';
  src: URL('/data/visitor1.ttf') format('truetype');
}
body {
  /* font-family: "Visitor", sans-serif; */
	background-color: rgba(42, 42, 46, 1);
}
#board {
	width: 640px;
	height: 480px;
	margin: auto;
  background-color: white;
}
